
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" data-step="1" data-intro="This is a menu icon!">
      <mat-icon>menu</mat-icon>
    </button>
    <span data-step="2" data-intro="Click this to go back here anytime" data-position='right'>Welcome Example </span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" data-step="3" data-intro="Bookamrk it" data-position='left' aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" data-step="4" data-intro="Collaborate" data-position='left' aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>


  <div class="main_div">

<div class="button_div">
  <h2>Welcome tutorial</h2>
  <button href="javascript:void(0);" onclick="javascript:introJs().start();" mat-raised-button>Walkthrough</button>
</div>

  <hr>

<div class="container" data-step="5" data-intro="Content" data-position='right'>
  <div *ngFor="let card of cards" >
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ card }}</mat-card-title>
        <mat-card-subtitle>description of greantess</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  
  </div>

</div>

</div>






  <mat-toolbar class="stickToBottom " color="primary">
    <mat-toolbar-row>
      <span data-step="6" data-intro="Amazing things here" data-position='top' >Example</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <span>Footer</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>